<div class="modal" *ngIf="open" (mousedown)="onBackdropClick($event)">
  <div
    class="modal__dialog"
    [class.sm]="size === 'sm'"
    [class.md]="size === 'md'"
    [class.lg]="size === 'lg'"
    [class.xl]="size === 'xl'"
    (mousedown)="$event.stopPropagation()"
  >
    <header class="modal__header">
      <h2 class="modal__title">{{ title }}</h2>

      <div class="modal__actions">

       <button
  *ngIf="showClose"
  class="icon-btn light"
  type="button"
  (click)="cancel()"
  aria-label="Cerrar"
  title="Cerrar"
>
  ✕
</button>

      </div>
    </header>

    <section class="modal__body">
      <ng-content></ng-content>
    </section>

    <footer class="modal__footer">
      <button type="button" class="btn ghost" (click)="cancel()" aria-label="Cancelar">
          Cancelar
        </button>
        <button type="button" class="btn primary" (click)="confirm()" aria-label="Guardar">
          Guardar
        </button>
      
    </footer>
  </div>
</div>