<form (ngSubmit)="submit()" [formGroup]="form" class="uform">
  <div class="uform__avatar">
    <div class="avatar">
      <img src="assets/svgs/user.svg" alt="User-SVG">
    </div>
  </div>

  <div class="grid">
    <!-- Nombre -->
    <label>
      <span>Nombre*</span>
      <input type="text" placeholder="Nombre(s)" formControlName="nombre" />
      <small class="err" *ngIf="f.nombre.touched && f.nombre.invalid">
        Campo obligatorio 
      </small>
    </label>

    <!-- Apellido paterno -->
    <label>
      <span>Apellido paterno*</span>
      <input type="text" placeholder="Apellido paterno" formControlName="apellido_p" />
      <small class="err" *ngIf="f.apellido_p.touched && f.apellido_p.invalid">
        Campo obligatorio 
      </small>
    </label>

    <!-- Apellido materno -->
    <label>
      <span>Apellido materno*</span>
      <input type="text" placeholder="Apellido materno" formControlName="apellido_m" />
      <small class="err" *ngIf="f.apellido_m.touched && f.apellido_m.invalid">
        Campo obligatorio 
      </small>
    </label>

    <!-- Usuario -->
    <label>
      <span>Usuario</span>
      <input type="text" placeholder="Nombre de usuario" formControlName="usuario" />
    </label>

    <!-- Correo -->
    <label>
      <span>Correo electrónico*</span>
      <input type="email" placeholder="correo@dominio.com" formControlName="correo" [readonly]="readonlyEmail" />
      <small class="err" *ngIf="f.correo.touched && f.correo.hasError('required')">
        Campo obligatorio
      </small>
      <small class="err" *ngIf="f.correo.touched && f.correo.hasError('email')">
        Correo inválido
      </small>
    </label>

    <!-- Teléfono -->
    <label>
      <span>Teléfono</span>
      <input type="text" placeholder="(###) ### ####" formControlName="telefono"/>
    </label>

    <!-- Rol -->
    <label>
      <span>Rol</span>
      <select formControlName="rol">
        <option value="">Selecciona un rol</option>
        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
      </select>
    </label>
  </div>

  <div class="hidden-actions">
    <button type="button" (click)="cancel()">Cancelar</button>
    <button type="submit">Guardar</button>
  </div>
</form>
