<div class="layout"> 
  <app-sidebar class="sidebar"></app-sidebar>

  <div class="content">
    <app-crud-panel
      [title]="title"
      [tabs]="tabs"
      [activeTabId]="activeTabId"
      (tabChange)="onTabChange($event)"
      [primaryActionLabel]="primaryActionLabel"
      (primaryAction)="onPrimary()"
      [columns]="columns"
      [data]="tableRows"   
      [actions]="actions"
      (action)="onRowAction($event)"
      [page]="page"
      [totalPages]="totalPages"
      (search)="onSearch($event)"  
    >
    </app-crud-panel>
  </div>
</div>

<!-- Modal Crear/Editar -->
<app-modal
  [open]="modalOpen"
  [title]="modalTitle"
  [size]="modalSize"
  (closed)="closeModal()"
  (canceled)="cancelModal()"
  (confirmed)="roleFormRef.submitForm()"  
>
  <app-role-form
    #roleFormRef
    [role]="editingRole"
    [availablePermissions]="availablePermissions"
    (submitted)="upsertRole($event)"
    (canceled)="cancelModal()"
  ></app-role-form>
</app-modal>

<!-- Modal Confirmación -->
<app-modal
  [open]="confirmOpen"
  [title]="confirmTitle"
  size="sm"
  (closed)="closeConfirm()"
  (canceled)="cancelConfirm()"
  (confirmed)="confirmProceed()"
>
  <p class="mb-2">{{ confirmMessage }}</p>
</app-modal>
