<div class="fixed top-0 left-0 h-full w-64 bg-white text-gray-800 p-0 shadow-md border-r border-gray-200">
  <div class="p-4">
    <div class="mb-4 flex justify-center">
      <img src="assets/svgs/Kore-ACC.svg" alt="Logo" class="h-28 w-auto">
    </div>

    <h2 class="text-lg font-bold mb-4 text-center">KORE ACC</h2>

    <ul class="space-y-1">
      <li>
        <a href="#" class="block w-full -mx-4 px-4 py-2 text-center hover:bg-slate-800 hover:text-white">
          Polizas
        </a>
      </li>
      <li>
        <a href="#" class="block w-full -mx-4 px-4 py-2 text-center hover:bg-slate-800 hover:text-white">
          Reportes
        </a>
      </li>
      <li>
        <a href="#" class="block w-full -mx-4 px-4 py-2 text-center hover:bg-slate-800 hover:text-white">
          Dashboard
        </a>
      </li>
    </ul>
  </div>

  <div class="absolute bottom-4 left-0 right-0">
    <a href="#" class="flex justify-center items-center -mx-4 px-4 py-2 hover:bg-slate-800 hover:text-white">
      <span>⚙️</span>
      <span class="ml-2">Configuración</span>
    </a>
  </div>
</div>